.radio-circle {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $white;
    border: 1px solid $borderNormal;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: '';
        display: block;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background: rgba($accentSecondary, 0);
    }
    &--selected {
        &:before {
            background: $accentSecondary;
        }
    }
}